<h2 class="text-center mt-4"><%= @article.title %></h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-body rounded">
        <div class="card-body">
            <div class="card-text"><%= simple_format(@article.description) %></div>
            <br />
            <% if ( @article.user == current_user || current_user.admin? ) %>

              <%= link_to t('.back', :default => t("helpers.links.back")),
                            articles_path, :class => 'btn btn-default'  %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_article_path(@article), :class => 'btn btn-default' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            article_path(@article),
                            :method => 'delete',
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-danger' %>




            <% end %>
        </div>
        <div class="card-footer text-muted">
            <small>
              Created <%= time_ago_in_words(@article.created_at) %> ago,
              Edited <%= time_ago_in_words(@article.updated_at) %> ago              
            </small>
        </div>
      </div>
    </div>
  </div>
</div>

